.backgroundWraper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.backgroundColor {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top:0;
    /* left:-200vw; */

}

.backgroundColor > li {
    width: 100vw;
    height: 100vh;
    float: left;
} 

.backgroundColor > li > i{
    display: block;
    width: 40%;
    height: 100%;
}
.backgroundColor > li:nth-of-type(1) {
    background: url(./../images/bck_img1.jpg) no-repeat 20vw -20vh / 100vw;
    /* background-image: contain; */
    background-color: #e1ecf0;

}
.backgroundColor > li:nth-of-type(1) > i {
    background: #cce1e8;
}

.backgroundColor > li:nth-of-type(2) {
    background-color: #ffffd3;
}
.backgroundColor > li:nth-of-type(2) > i {
    background: #fbf9c0;
}

.backgroundColor > li:nth-of-type(3) {
    background-color: #bcd5ff;
}
.backgroundColor > li:nth-of-type(3) > i {
    background: #a2bff0;
}